OPENAI_API_KEY=your_key_here
TAVILY_API_KEY=optional_if_using_news_api
SUBSCRIPTION_ID=azure-subscription-id
# Azure Credentials (created by azure-setup.sh)
AZURE_CLIENT_ID=azure-client-id
AZURE_CLIENT_SECRET=azure-client-secret
AZURE_TENANT_ID=azure-tenant-id
STORAGE_ACCOUNT_NAME=desafioai
AZURE_SYNAPSE_WORKSPACE_NAME=your-synapse-workspace-name
AZURE_SQL_POOL_NAME=your-sql-pool-name-no-hyphens
AZURE_SQL_ADMIN_USER=your-sql-admin-username
AZURE_SQL_ADMIN_PASSWORD=your-sql-admin-password
AZURE_SQL_POOL_PERFORMANCE_LEVEL=DW200c
AZURE_SYNAPSE_SQL_ENDPOINT=your-synapse-sql-endpoint
